/* Style général */
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Boutons */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #3498db; /* bleu par défaut */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

a:hover {
    background-color: #2980b9;
}

/* Titres */
h1 {
    margin-bottom: 15px;
}

/* Paragraphes */
p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Images */
img {
    max-width: 300px;
    border-radius: 15px;
    margin-top: 20px;
}
